@media screen and (max-width :1200px) {

    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
        justify-content: center;
    }

    .nav-left ul li {
        justify-content: center;
        margin: 20px 15px;
        position: relative;
        left: 89px;
    }

    .content-right {
        display: none;
    }

    .content-left {
        align-items: center;
    }

    .home-article {
        flex-direction: column;
        align-items: center;
        margin: 79px 0px;
    }

    .article-content {
        display: flex;
        flex-direction: column;
    }

    .article-img img {
        display: flex;
        justify-content: center;
        width: 250px;
        margin-top: 18px;
    
    }

    .home h1 {
        font-size: 27px;
    }
    .year-box {
        position: relative;
        top: 25%;
        margin: 0 3px;
    }
    .year-box div{
        margin:  0 3px;
    }
    .form-box input {
        width: 59vw;
    }
    .form-box textarea {
        width: 52vw;
        height: 17vh;
    }

}