@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai+2:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

:root {
    --main-bg-color: #ff9200d9;
    --font1: "Roboto", san-serif;
    --font2: "Baloo Bhai 2", san-serif;
    --font3: "Josefin Sans", san-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.font3 {
    font-family: var(--font3);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 75vw;
}

.m-auto {
    margin: auto;
}

.form-input {
    padding: 4px 6px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 20px;
    font-family: var(--font1);
}
.btn {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    margin: 4px;
    font-size: 11px;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}
.my-2{
    margin-top: 12px;
}
.form-box input, textarea {
    margin-top: 12px;
    width: 40vw;
    padding: 7px 14px;
    margin: 4px 10px;
}
